/* Intro & Navbar */
#intro {
  background-image: url("../../Assets/main-background.svg");
  height: 100vh;
  min-height: 720px;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 0;
  padding-left: 20%;
  padding-right: 20%;
  margin-left: auto;
  display: block;
  margin-right: auto;
}

.btn-primary:hover {
  background-color: lightskyblue;
  color: #0e3147;
  border-color: lightskyblue;
}

.btn-primary {
  background-color: #0e3147;
  color: white;
  border-color: #0e3147;
}

.btn-outline-light {
  background-color: #0e3147;
  color: white;
  border-color: #0e3147;
}

#welcome {
  margin-top: 15%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



#header {
  color: #0e3147;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

#description {
  color: #0e3147;
  font-size: 1.2rem;
  text-align: justify;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#cta_button {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
}

#arrow {
  display: block;
  height: 5rem;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
