/* Intro & Navbar */
#intro {
  background-image: url("../../Assets/main-background.svg");
  height: 100vh;
  min-height: 720px;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 4rem;
  padding-left: 20%;
  padding-right: 20%;
  margin-left: auto;
  display: block;
  margin-right: auto;
}

.btn-outline-light:hover {
  background-color: #16425e;
  color: white;
  border-color: #16425e;
}

.btn-primary {
  background-color: #0e3147;
  color: white;
  border-color: #0e3147;
}

.btn-outline-light {
  margin: 0.5rem;
  background-color: #0e3147;
  color: white;
  border-color: #0e3147;
}

#welcome {
  margin-top: 12%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#header {
  color: #0e3147;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

#description {
  color: #0e3147;
  font-size: 1.2rem;
  /* text-align: justify; */
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#cta_button {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
}

#arrow {
  display: block;
  height: 3.5rem;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 5rem;
  left: 0;
  right: 0;
}
