#projects_section {
  background-color: #add0ec;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 10vh;
  padding-left: 20%;
  padding-right: 20%;
 }
 
 
 #project_button{
  font-size: 1em;
 }

 .card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
 }
 
 .card-title {
  color: #0e3147;
  font-size: 1em;
 }
 
 .card-subtitle {
  color: #3d6387;
  font-size: 1em;
 }
 
 .card-text {
  color: #6c90c0;
  font-size: 1em;
 }
 