#projects_section {
  background-color: #add0ec;
  min-height: 1600px;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 10vh;
 }
 
 #projects_header {
  color: #0e3147;
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  padding-top: 3%;
  padding-bottom: 3%;
 }
 
 .card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
 }
 
 .card-title {
  color: #0e3147;
 }
 
 .card-subtitle {
  color: #3d6387;
 }
 
 .card-text {
  color: #6c90c0;
 }
 