.button{
  background-color: #0E3147;
  color: white;
  font-weight:bold;
  width: fit-content;
  margin-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 10px;
  border: 0px;
}

.button:hover{
  background-color: #add0ec;
}


.contact_form{
  padding: 3rem;
  height: 100%;
  background-color: white;
  margin-left: 0px !important;
  margin-right: 0px !important;
  border-radius: 0px 15px 15px 0px;
  font-size: 1rem;
}

.form_actions{
  display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100%;
  color:#0E3147;
  font-weight: 300;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .contact_form{
    border-radius: 0px 0px 15px 15px;
    padding: 2rem;
  }
}