/* Skills Section */
#skills_section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color:#add0ec;
  padding-left: 20%;
  padding-right: 20%;
}
 
#skills_header {
  color: #0e3147;
  font-size: 1.5rem;
  font-weight: bold;
}
 
#skills_block{
  margin-bottom: 2rem;
}

.card-title{
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}

.skills_icon{
  height: 4rem;
  width: 4rem;
}
 
