/* Skills Section */
#skills_section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color:#add0ec;
  padding-left: 20%;
  padding-right: 20%;
 }
 
 #skills_header {
  color: #0e3147;
  font-size: 1.5em;
  font-weight: bold;
 }
 
 
 #skills_container {
  text-align: left;
  margin-bottom: 5rem;
  padding: 3rem;
  background-color: white;
  border-radius: 15px;
 }

 #skills_block{
  margin-bottom: 2rem;
 }
 
