 /* Footer Section */
 #footer {
  background-color: #0e3147;
  height: auto;
  line-height: 1rem;
  padding: 1.5rem;
 }
 
 #footer_header {
  padding-top: 1rem;
  color: #add0ec;
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 3%;
 }
 
 #footer_desc {
  color: #add0ec;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
 }
 
 #footer_disclaimer {
  margin-top: 5%;
  color: #add0ec;
  font-size: 1rem;
  font-weight: 300;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }