.bar{
  background-color: #0e3147;
  height: 4px;
  border-radius: 5px;
  width: 3rem;
}

.sectionTitle{
  text-align:left;
  justify-items:start;
  font-size: 2rem;
  font-weight: bold;
  color: #0e3147;
}

.sectionDescription{
  color: #246C99;
  text-align: left;
  font-size: 1.2rem;
}

.sectionContainer{
  display: grid;
  width: 100%;
  margin-bottom: 2.5rem;
  align-items: center;
  /* justify-content: center; */
}